# Unreal Engine 5
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/
.vs/

# IDE files
*.sln
*.vcxproj*
*.user
*.sdf
*.opensdf
.idea/

# OS junk
.DS_Store
Thumbs.db

# Logs / temp
*.log
*.tmp
*.backup
*.orig

